[Unit]
Description=Sample data from bioreactor sensors and upload it
After=network.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/bioreactor
User=pi
Restart=always
RestartSec=10s
Type=simple
ExecStart=/usr/bin/python3 poll.py

[Install]
WantedBy=multi-user.target
