[Unit]
Description=Sample data from bioreactor sensors and upload it
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=python3 poll.py

[Install]
WantedBy=multi-user.target
